/* style.css */

/* ------------------------------------------------------------------------- */
/*Importando Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* ------------------------------------------------------------------------- */
/*Formateando*/

body {
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/* ------------------------------------------------------------------------- */
/* ESTILOS POR DEFECTO (device-width <=576px)*/
/* ------------------------------------------------------------------------- */

/* ------------------------------------------------------- */
/* Background Color */

.bg-header{
    background-color: darkgray;
}

.bg-nav-menu{
    background-color: darkgray;
}

.bg-nav-browser{
    background-color: lightgray;
}

.bg-main{
    background-color: white;
}

.bg-footer{
    background-color: #2573da;
}

/* ------------------------------------------------------- */
/* Layout, Areas */

.header{
    grid-area: header;
}

.nav{
    grid-area: nav;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}

.layout{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
    gap: 0;
    grid-template-rows: 5vh 10vh 75vh 10vh;
    grid-template-columns: 1fr;
}

/* ------------------------------------------------------- */
/*Estilos Flex*/

.f-r{
    display:flex;
    flex-direction: row;
}

.f-c{
    display:flex;
    flex-direction: column;
}

.f-st-st{
    justify-content: start;
    align-items: start;
}

.f-st-cen{
    justify-content: start;
    align-items: center;
}

.f-cen-st{
    justify-content: center;
    align-items: start;
}

.f-cen-cen{
    justify-content: center;
    align-items: center;
}

.f-bet-st{
    justify-content:space-between;
    align-items: start;
}

.f-bet-cen{
    justify-content:space-between;
    align-items: center;
}

.f-ev-cen{
    justify-content:space-evenly;
    align-items: center;
}
