/* style.css */

/* ------------------------------------------------------------------------- */
/*Importando Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* ------------------------------------------------------------------------- */
/*Formateando*/

body {
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/* ------------------------------------------------------------------------- */
/* ESTILOS POR DEFECTO (device-width <=576px)*/
/* ------------------------------------------------------------------------- */

/* ------------------------------------------------------- */
/*Estilos de Textos*/
/* ------------------------------------------------------- */

.txt-title-1{
    color:#252525;
    font-size: 1rem;
    font-weight: 500;
    text-align: start;
}

.txt-title-2{
    color: #252525;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: start;
}

.txt-subtitle-1{
    color:dimgray;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.txt-subtitle-2{
    color:#252525;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
}

.txt-label{
    color:dimgray;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    display: none;
}

.txt-form{
    color:dimgray;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: start;
}

.txt-form-btn{
    color:dimgray;
    font-size: 0.6rem;
    font-weight: 400;
    text-align: center;
}

.txt-menu{
    color:#252525;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    list-style: none;

}

.txt-card-info-1{
    color:dimgray;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
}

.txt-card-info-2{
    color:#252525;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: justify;
    margin: 0.5rem 0 0.5rem 0;
}

.txt-card-info-3{
    color:dimgray;
    font-size: 1rem;
    font-weight: 500;
    text-align: end;
}

.txt-card-btn{
    color:white;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;

}

.txt-footer{
    color:white;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;

}

/* ------------------------------------------------------- */
/*Estilos Contenedores*/
/* ------------------------------------------------------- */

/* Estilos Header */
.header{
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

img{
    width: 100%;
    height: auto;
}

.logo-img{
    height: 2rem;
    width: 2rem;
}


/* Estilos Navbar-Menu*/

.nav-menu{
    background-color: lightgray;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.menu-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.list-element{
    display:none;
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
}

.menu-icon{
    display:block;
}

/* Estilos Navbar-Browser */

.nav-browser{
    padding: 1rem;
    background-color:#e3e3e3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.browser-title{
    display: none;
}

.form-search{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box-search{
    margin: 0;
    border-style: none;
    border-radius: 0.2rem;
}

.btn-search{
    border-style: solid;
    background-color: #e3e3e3;
    border-width: 1px;
    border-color: dimgray;
    border-radius: 0.2rem;
    padding: 0.1rem;
    margin: 0 0.2rem 0 0.2rem;
}

.form-filter{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.box-select{
    margin: 0;
    border-style: none;
    border-radius: 0.2rem;
}


/* Estilos Main*/
.main{
    background-color: white;
    padding: 1rem;
}

.container-grid{
    height: 100%;
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    overflow: auto;

}

/* Estilos Card */

.card{
    background-color: white;
    width: calc(100%-2rem);
    padding: 0.2rem;
    border-style: solid;
    border-width: 1px;
    border-color: dimgray;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 5px -3px darkgray;
    transition: background-color 1.5s ease-out;

}

.card-header{
    width: 100%;
}

.card-img{
    border-radius: 0.2rem;
    filter:grayscale(1);
    transition: filter 1.5s ease-out;
}

.card-body{
    width: auto;
    padding: 0.5rem 1rem 0.5rem 1rem;
    flex-basis: 10rem;
}

.card-footer{
    width: 100%;
    padding: 0.5rem 0 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    flex-basis: 2rem;
    border-style: solid;
    border-color: dimgray;
    border-width: 1px 0 0 0;
}

.card-btn{
    background-color: #2573da;
    padding: 0.3rem;
    border-style: none;
    border-radius: 0.2rem;
}


/* Estilos Footer*/
.footer{
    background-color: #2573da;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------- */
/* Layout, Areas */

.header{
    grid-area: header;
}

.nav-menu{
    grid-area: nav-menu;
}

.nav-browser{
    grid-area: nav-browser;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}

.layout{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header nav-menu"
    "nav-browser nav-browser"
    "main main"
    "footer footer";
    gap: 0;
    grid-template-rows: 9vh 5vh 78vh 8vh;
    grid-template-columns: 45vw 55vw ;
}

/* ------------------------------------------------------- */
/*Estilos Eventos*/

.card:hover .card-img{
    filter:none;
}

.card:hover{
    background-color: rgb(225, 237, 237);
}

/* ------------------------------------------------------------------------- */
/* ESTILOS PARA PANTALLAS MAYORES A 576px Y MENORES A 992px, PANTALLAS TABLET*/
/* ------------------------------------------------------------------------- */

@media(min-width: 576px){

    /* ------------------------------------------------------- */
    /* Layout, Areas */

    .layout{
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-areas: 
        "header header"
        "nav-menu main" 
        "nav-browser main"
        "footer footer";
        gap: 0;
        grid-template-rows: 9vh 43vh 40vh 8vh;
        grid-template-columns: 20vw 80vw ;
    }

    .container-grid{
        height: 100%;
        width: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        overflow: auto;
    
    }

    .card{ 
        width: calc(50%-1.5rem);
    }



}


/* ------------------------------------------------------------------------- */
/* ESTILOS PARA PANTALLAS MAYORES A 992px, PANTALLAS ESCRITORIO*/
/* ------------------------------------------------------------------------- */

@media(min-width: 992px){



}